@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Dense="true">
        <MudText Typo="Typo.h6" Class="mr-6">PackForge</MudText>
        <MudButton Href="/" Variant="Variant.Text" Color="Color.Inherit">Uploads</MudButton>
        <MudButton Href="/packages" Variant="Variant.Text" Color="Color.Inherit">Packages</MudButton>
        <MudButton Href="/migration" Variant="Variant.Text" Color="Color.Inherit">Migration</MudButton>
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="mt-6">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
